{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Страница с описанием работы генератора пароля</h1>
<p>Генератор может сделать пароль длиной от 6 до 25 символов.<br>
Пользователь может выбрать символы верхнего регистра, цифры и спец символы.<br>
Пароль генерируется случайным образом с помощью python функции "choices" из списка символов из таблицы ASCII</p>
<h3>Автор проекта 'Фамилия Имя Отчество'</h3>
<p>Вернуться на <a href="{% url 'home' %}">главную</a> страницу</p>
{% endblock %}