{% extends 'skills/base.html' %}
{% load static %}

{% block content %}

<h1>Страница для сайта-портфолио</h1>
<div class="img">
    <img src="{% static 'page/wc.jpg' %}" alt="">
</div>
<h2 class="count">Статей: {{ pages.count }}</h2>
{% for page in pages %}
<div class="element">
    <h2 class="top">
        <a href="{% url 'page:more' page.id %}">
            {{ page.title }}
        </a>
    </h2>
    <div class="blog_text">
        <h4>{{ page.date | date:'d.m.Y' }}</h4>
        <p>{{ page.description | striptags | truncatechars:360 }}</p>
    </div>
</div>
{% endfor %}
{% endblock %}